.container-dark {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  background-color: black;
}

.table-dark {
  width: 100%;
  border: 1px solid white;
  border-collapse: collapse;
}

.table-dark th {
  border: 1px solid white;
  color: #09f;
  border-collapse: collapse;
  text-align: center;
  font-size: 24px;
  padding: 10px;
}

.table-dark td {
  text-align: center;
  border: 1px solid white;
  border-collapse: collapse;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
  font-size: 16px;
  padding: 10px;
}

.header-dark {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.header-dark aside {
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
}

.header-dark h1 {
  margin: 0;
  color: #09f;
}

.header-dark aside label select {
  width: 150px;
  font-size: 16px;
}

.header-dark aside label input {
  width: 150px;
  font-size: 16px;
}


.container-light {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  background-color: white;
  color: black;
}

.table-light {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}

.table-light th {
  border: 1px solid black;
  color: #09f;
  border-collapse: collapse;
  text-align: center;
  font-size: 24px;
  padding: 10px;
}

.table-light td {
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
  font-size: 16px;
  padding: 10px;
}

.header-light {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.header-light aside {
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
}

.header-light h1 {
  margin: 0;
  color: #09f;
}

.header-light aside label select {
  width: 150px;
  font-size: 16px;
}

.header-light aside label input {
  width: 150px;
  font-size: 16px;
}

.changeButton-dark {
  width: 100px;
  height: 40px;
  color: white;
  background: black;
  border: 1px solid white;
  border-radius: 15px;
  text-align: center;
}

.changeButton-light {
  width: 100px;
  height: 40px;
  background: white;
  border: 1px solid black;
  border-radius: 15px;
  color: black;
  text-align: center;
}